APP_RUNNING_HOST="127.0.0.1"
APP_RUNNING_PORT=8000
APP_DATABASE_URL="sqlite:///./sql_app.db"
# APP_DATABASE_URL = "postgresql://user:password@postgresserver/db"
# APP_DATABASE_URL = "mariadb+mariadbconnector://example-user:my_cool_secret@127.0.0.1:3306/exmple-database"